.contactHiddenMenu{
    padding-top: 15%;
    padding-bottom:5%;
    position: absolute;
    background-color: #f6f6f6;
    display: block;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    z-index:2;
}

#buttonMenu li a{
    visibility: visible;
    display: block;
    background-color: transparent;
}

.mobileMenu{
    display: block;
    visibility: visible;
}

.mobileLogo{
    visibility: hidden;
    display: none;
}



.contactBack {
    background-image: none;
}

.buttonTransparent{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    outline: none;
}
