$fontStyleOne: 'Montserrat', sans-serif;
$fontStyleTwo: 'Open Sans', sans-serif;

/* =======================
FONT IMPORTS
======================= */


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

/* =======================
TYPOGRAPHY
======================= */

html {
    font-size: 125%;
    line-height: 1.15;
    font-size: $fontStyleTwo;
    font-size: 0.875rem;
    letter-spacing: 0.019rem;
}

a{
    text-decoration: none;
    color: #333333;
}

.centeredLogo{
    font-family: $fontStyleOne;
    font-size: 2.313rem;
    letter-spacing: 0.056rem;
    font-weight: bold;
}

.headerNav,
.leftlinks li{
    font-family: $fontStyleOne;
    font-size: 1.125rem;
    letter-spacing: 0.019rem;
    color: #333333;
}

.rightLinks{
    font-family: "Open Sans", sans-serif;
    font-size: 0.875rem;
    line-height: 1.5rem;
    letter-spacing: 0.019rem;
}

a:visited{
    text-decoration: none; 
    a, a:visited{
    color: #333333;
} 
}

body{
    font-family: $fontStyleTwo;
    font-size: 0.875rem;
    line-height: 1.5rem;
    letter-spacing: 0.019rem;
}

button{
    font-family: $fontStyleOne;
    font-size: 0.875rem;
    line-height: 1.5rem;
    letter-spacing: 0.044rem;
} 

h2, 
h3{
    font-family: $fontStyleOne;
    font-size: 1.125rem; 
    line-height: 1.5rem;
    letter-spacing: 0.113rem;
    font-weight: normal;
}

p{
    font-size: $fontStyleTwo;
    font-size: 0.875rem;
    letter-spacing: 0.019rem;
}

ul li{
    text-decoration: none;
    list-style-type: none;
}

footer h2{
    font-family: $fontStyleOne;
    font-size: 1.125rem;
    letter-spacing: 0.019rem;
    text-transform: uppercase;
    
}

footer li{
    font-family: $fontStyleTwo;
    font-size: 0.7rem;
    line-height: 1.5rem;
    letter-spacing: 0.019rem;
}

footer p{
    font-family: $fontStyleTwo;
    font-size: 0.7rem;
    line-height: 1.5rem;
    letter-spacing: 0.019rem;
}

.recentPosts h2{
    text-align: center;
}

.recentPosts ul li{
    list-style-type: disc;
}

.headline{
    list-style-type: none;
}

.emailSignup{
    text-align: right;
}

.footerLogo{
    text-align: center;
}

