// inside style.scss
@import 'setup';
@import 'header';
@import 'nav';
@import 'typography';
@import 'variables';

/*
@import "scss/fontawesome.scss";
@import "scss/regular.scss";
@import "scss/fontawesome.scss";
@import "scss/brands.scss";
@import "scss/solid.scss"; */


$fontStyleOne: 'Montserrat', sans-serif;
$fontStyleTwo: 'Open Sans', sans-serif;

.wrapper {
    width: 90%;
    max-width: 1080px;
    margin: 0 auto;
}

li a{
    text-decoration: none;
}
/*
img{
display: block;
max-width: 100%;
}
*/

html {
    font-size: 125%;
    line-height: 1.15;
    color: #333333;
}

i{
    color: black;
}

/* =======================
TYPOGRAPHY
======================= */

.brandSection{
    background-color: #C3DAB7;
    text-align: center;
}

.overlapContainer{
    position: relative;
    padding-top: 20%;
}

.overlapImg{
    width: 50%;
    height: auto;
}

.circleText{
    bottom: 25%;
    left: 15%;
    position: absolute;
    height: 50%;
    width: auto;
}

.brandDesign{
    display: flex;
    flex-direction: row;
    padding-bottom: 15%;
}


.branding,
.design{
    width:50%;
    padding: 20px;
}


/* =======================
Gallery
======================= */

.gallery{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding-top: 7rem;
    padding-bottom: 5rem;
}

.gallery a i{
    font-size: 1.5rem;
}

.gallery img{
    border-radius: 360px;
}


.galleryText{
    text-align: center;
    align-items: center;
    margin: 0 auto;
    width: 75%;
    padding-bottom: 3rem;
}

/*              Features                  */
.iconGallery{
    background: url(../assets/home-4.jpeg) center;
    height: 100vh;
    background-size: cover;
}


.container{
    display: flex;
    min-height: 100vh;
    flex-wrap: wrap;
    padding-left: 35%;
    padding-top: 30px;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 5px;
}

.featuresIcon i{
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-block;
    color: #333333;
    border: 2px solid #333333;
    border-radius: 360px;
    padding: 7px;
    
}


    
 // MEET OUR TEAM //

 .teamPadding{
     padding-top: 150px;
     padding-bottom:150px;
 }

.meetOurTeam h2{
    text-align: center;
    
}

.teamGallery ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}



.galleryBox-1{
    background: grey;
    width: 50%;
    margin: 0;
    padding: 0;
    flex: 2 1 auto;
}

.galleryBox img{
    margin: 0;
    padding: 0;
}

.galleryBox,
.galleryBox-2{
    display: flex;
    width: 25%;
    margin: 0;
    padding: 0;
    
}

.galleryBox2{
    display: flex;
}

.galleryBox-2 h3{
    align-items: center;
    justify-content: center;
    align-items: center;
}

.margin-1{
    margin: 2px;
    display: inline-block
}

.teamGallery{
    
}

/* DROP US A LINE */


.dropLine {
    display: flex;
}


.dropLine button{
    width: 25%;
}

.dropLineImage{
    
}

.dropLineImage img{
    max-width: 95vh;
}

.dropLineText{
    text-align: center;
    background: #C3DAB7 center;
    
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.dropLineText button{
    margin: 0 auto;
}

.col{
    flex: 1; 
    width: 50%;
}

/* FOOTER */

.footerInfo{
    background: #333333;
    background-size: auto;
}

footer{
    color: #f6f6f6;
}

footer i{
    color: #f6f6f6;
}

.socialMediaIcons{
    padding-top: 10px;
    word-spacing: 20px;
    color: #f6f6f6;
}

.footerContainer{
    display: flex;
    justify-content: space-between;
    padding: 10% 0;
}

footer h2{
    padding-bottom: 30px;

}

.emailLine{
    padding-top: 20px;
}

.footerLogo{
    border-top: 1px solid #f6f6f6;
}

.footerLogo h2{
    padding-top: 5%;
}

/*=====================
Blog Styles
======================*/
.agencySec h1{
    text-align: center;
    padding: 50px 0 0 0;
}

.agencySec h6{
    padding-bottom: 60px;
}

.alexAdmin{
    display: flex;
    justify-content: flex-end;
}

.alexAdmin li img{
    border-radius: 360px;
}

.alexAdmin li{
    padding-right: 20px;
}

.adminRow{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #f6f6f6;
    padding-bottom: 10px;
}

.adminRow ul{
    margin: 0;
    padding: 0;
}

.adminRow ul li{
    display: inline-block;
}

.rightMenu{
    padding-left: 70px;
}

.analyticsP{
    padding-top: 40px;
}

.analyticsP p span{
    font-weight: bold;
}

.analyticsP p{
    padding-bottom: 10px;
}

.socialIcons{
    display: flex;
    text-transform: uppercase;
}

.socialIcons i{
    padding-right: 15px;
    padding-left: 15px;
}

/* RELATED POST */

.relatedPost{
    padding-top: 60px;
    padding-bottom: 30px;
}

.relatedPost h2{
    text-transform: uppercase;
    border-bottom: 2px solid #f6f6f6;
    padding-bottom: 10px;
}

.postGallery{
    display: flex;
    padding-bottom: 40px;
}

.postGallery img,
.postGallery p{
    padding: 0 10px;
}





