// inside style.scss
@import 'header';
@import 'typography';
@import 'footer';
@import 'burgerMenu';
@import 'emailSubmit';


$fontStyleOne: 'Montserrat', sans-serif;
$fontStyleTwo: 'Open Sans', sans-serif;

.wrapper {
    width: 90%;
    max-width: 1080px;
    margin: 0 auto;
}

body{
    background-color: #f6f6f6;
}

li a{
    text-decoration: none;
}

html {
    font-size: 125%;
    line-height: 1.15;
    color: #333333;
}

i{
    color: black;
}

a:hover{
    cursor: pointer;
}

/* =======================
TYPOGRAPHY
======================= */

.brandSection{
    background-color: #C3DAB7;
    text-align: center;
}

.overlapContainer{
    position: relative;
    padding-top: 20%;
}

.overlapImg{
    width: 50%;
    height: auto;
}

.circleText{
    bottom: 25%;
    left: 15%;
    position: absolute;
    height: 50%;
    width: auto;
}

.brandDesign{
    display: flex;
    flex-direction: row;
    padding-bottom: 15%;
}


.branding,
.design{
    width:50%;
    padding: 20px;
}


/* =======================
Gallery
======================= */

.gallery{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding-top: 7rem;
    padding-bottom: 5rem;
}

.gallery a i{
    font-size: 1.5rem;
    color: #333333
}

.gallery a i:hover{
    color: black;
}

.gallery img{
    border-radius: 360px;
}


.galleryText{
    text-align: center;
    align-items: center;
    margin: 0 auto;
    width: 75%;
    padding-bottom: 5rem;
}

/*              Features                  */
.iconGallery{
    background: url(../assets/home-4.jpeg) left;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    text-align:center;
    margin:auto;
    padding:0;
}


.container{
    display: flex;
    min-height: 90vh;
    flex-wrap: wrap;
    padding-left: 30%;
    padding-top: 30px;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48%;
    padding: 0px;
}

.featuresIcon i{
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-block;
    color: #333333;
    border: 2px solid #333333;
    border-radius: 360px;
    padding: 12px;
}

.titleText h3{
    color: #333333;
    text-transform: uppercase;
    padding-left: 30px;
}

.titleText p{
    color: grey;
    font-style: $fontStyleTwo;
    font-size: 0.7rem;
    letter-spacing: 0.019rem;
    padding-left: 30px;
}


    
 // MEET OUR TEAM //

.teamPadding{
    position: relative;
    padding-top: 150px;
    padding-bottom:150px;
}

.teamPadding::before{
    content: "";
    position: absolute;
    height: 1px;
    width: calc( 100px - 60px);
    transform: rotate(90deg);
    background-color: rgba(51, 51, 51, 0.4);
    top: 20px;
    right: 50%;
    margin: 0 auto;
    padding: 0;
}

.teamPadding{
    position: relative;
}

.meetOurTeam p{
    border-left: 2px solid grey;
    height: 20px;
}


.meetOurTeam h2{
    text-align: center;
    padding-bottom: 10%;
    text-transform: uppercase;
}

/* GRID GALLERY - Grid Layout Assembled Using https://grid.layoutit.com/ */

.galleryImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.teamGallery {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 30px 30px; 
    grid-template-areas: 
    "img1 img1 img2 img3"
    "img4 img5 img6 img7"; 
}

.img1 { 
    grid-area: img1; 
    grid-column-start:1;
    grid-column-end:3;
    grid-row-start:1;
    grid-row-end:1;
}

.img2 { grid-area: img2; }
.img3 { grid-area: img3; }
.img4 { grid-area: img4; }
.img5 { grid-area: img5; }
.img6 { grid-area: img6; }
.img7 { grid-area: img7; }

.img1{
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    justify-content: center;
    background-color: lightgray;
    padding: 5% 5% 5% 10%;
}

.img1 p {
    color: grey;  
}

.img7 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
}

/* DROP US A LINE */

.dropLine {
    display: flex;
}


.portButton{
    width: 30%;
    background-color: #f6f6f6;
    border: none;
    padding: 2% 1%;
}

.portButton a{
    font-weight: bold;
    text-transform: uppercase;
    background-color: #f6f6f6;
}

.dropLineImage img{
    width: 100%;
    height: 100%;
}

.dropLineText{
    text-align: center;
    background: #C3DAB7 center;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.dropLineText h2,
.dropLine p {
    padding: 0 10% 5%;
}

.dropLineText button{
    margin: 0 auto;
}

.col{
    flex: 1; 
    width: 50%;
}

/*=====================
Blog Styles
======================*/
.agencySec h1{
    text-align: center;
    padding: 0;
    text-transform: uppercase;
    font-weight: bold;
}

.agencySec h6{
    color:rgba(185, 175, 175, 0.4);
    padding-bottom: 60px;
}

.agencySec span{
    color: #333333;
    padding-bottom: 60px;
}

.alexAdmin{
    display: flex;
    justify-content: flex-end;
}

.rightMenu h6{
    color: rgba(54, 48, 48, 0.4);
}

.lite p {
    color: rgba(54, 48, 48, 0.4);
}

.alexAdmin li img{
    border-radius: 360px;
}

.alexAdmin li{
    padding-right: 20px;
}

.alexAdmin h6{
    color: rgba(54, 48, 48, 0.4);
}

.adminRow{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #f6f6f6;
    padding-bottom: 10px;
}

.adminRow ul{
    margin: 0;
    padding: 0;
}

.adminRow ul li{
    display: inline-block;
}

.rightMenu{
    padding-left: 70px;
}

.analyticsP{
    padding-top: 40px;
}

.analyticsP p span{
    font-weight: bold;
}

.analyticsP p{
    padding-bottom: 10px;
}

.socialIcons{
    display: flex;
    text-transform: uppercase;
}

.socialIcons i{
    padding-right: 15px;
    padding-left: 15px;
}

.leaveComment h2{
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px solid lightslategray;
    width: 100%;
    padding-bottom: 10px;
}

.leaveComment{
    padding: 60px 0px 30px 0;
}

/* RELATED POST */

.relatedPost{
    padding-top: 60px;
    padding-bottom: 30px;
}

.relatedPost h2{
    text-transform: uppercase;
    border-bottom: 2px solid #f6f6f6;
    padding-bottom: 10px;
}

.postGallery{
    display: flex;
    padding-bottom: 40px;
    width: 100%;
}


.postGallery img,
.postGallery p{
    padding: 0 10px;
    width: 100%;
}

.comments h2 {
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 30px;
    border: none;
    border-bottom: 2px solid lightgrey;
}

.comment-1{
    display: flex;
    padding-bottom: 30px;
    padding-top: 5%;
}

.comment-1 ul{
    display: flex;
    flex-direction: column;
    background:  #f6f6f6;
    width: 100%
}

.comment-1 ul h5,
.comment-2 ul h5 {
    text-transform: uppercase;
}

.comment-1 ul h5 span,
.comment-2 ul h5 span{
    font-style: italic;
    text-transform: none;
    font-weight: 400;
}

.comment-1 ul p,
.comment-2 ul p {
    color: rgba(54, 48, 48, 0.4);
}

.comment-1 ul h6,
.comment-2 ul h6 {
    color: rgba(54, 48, 48, 0.4);
    font-weight: 200;
}

.comment-1 img {
    padding-right: 40px;
    height: 90%;
}

.comment-2 img {
    padding-right: 40px;
    height: 90%;
}

.comment-2{
    display: flex;
    padding-bottom: 30px;
}

.comment-2 ul{
    display: flex;
    flex-direction: column;
    background: #f6f6f6;
    width: 100%;
}



/* CONTACT US PAGE */

    .quarterImg{
    background: url(../assets/contact-1.jpeg);
    background-size: cover;
    height: 30vh;
    overflow: hidden;
    }

    .quarterImg{
    position: relative;
    }

    .contactUsText{
    position: absolute;
    top: 41%;
    left: 12%;
    width: 0%;
    padding-bottom: 10%;
    text-transform: uppercase;
    font-weight: bold;
}

    .contSect{
    padding-bottom: 120px;
    padding-top: 3%;
    }

/* Contact Details Section*/

.detailsText h2{
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 30px;
}

.detailsText p{
    padding-bottom: 40px;
    width: 55%;
    color: rgba(51, 51, 51, 0.4);
}

.contactIcons {
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
}

.iconRow{
    font-size: 55px;
    padding: 30px;
}

.iconRow ul li i{
    padding-bottom: 20px;
}

.iconRow li h2{
    text-transform: uppercase;
    font-weight: bold;
}

.iconRow p{
    color:rgba(51, 45, 45, 0.4);
}

.sideBorder{
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    padding: 0 70px;
    height: 100%;
}

/* GET IN TOUCH SECTION */


.getInTouch h2{
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 20px;
    
}

.getInTouch p {
    padding-bottom: 20px;
    color: rgba(54, 48, 48, 0.4);
}

/* GET IN TOUCH FORMS */

input[type=text],
input[type=email] {
    width: calc(33.3% - 40px);
    padding: 20px 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid lightgrey;
    background-color: #f6f6f6;
}

input[name=message] {
    width: 100%;
    height: 200px;
    padding: 0px;
    margin: 0;
    border-bottom: 2px solid lightgrey;
    background-color: #f6f6f6;
}

input[name=message]:hover,
input[type=text]:hover,
input[type=email]:hover{
    border-bottom: 1px solid black;
}

*:focus {
    outline: none;
}


.formButton {
    padding: 10px 0;
    margin: 0;
    border: none;
    border-bottom: 2px solid black;
    text-transform: uppercase;
    font-weight: bold;
    background: none;
}

.formButton:hover {
    background-color: lightgray;
}

.contactImage-2 img {
    min-height: auto;
    max-width: 100%;
    display: block;
}

.contactImage-2{
    margin: 0;
    padding: 0px;
}

.contactForms{
    padding-bottom: 90px;
}

.burger{
    visibility: hidden;
}



@import 'media';


