@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.index {
  background: url(../assets/home-1.jpeg) center;
  height: 100vh;
}

/*============================
BLOG NAV
=============================*/
.burger a {
  visibility: hidden;
  display: none;
}

.burger i {
  visibility: hidden;
  display: none;
}

.blogBack {
  background: url(../assets/blog-1.jpeg) top;
  height: 90vh;
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.headerNavBlog {
  padding-top: 40px;
  padding-left: 10%;
  padding-right: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.headerNavBlog ul li {
  text-decoration: none;
}

.headerNavBlog a:hover {
  text-decoration: line-through;
}

/*============================
Universal Nav Styles
=============================*/
.centeredLogo {
  padding: 10px;
}

.headerNav ul li {
  text-decoration: none;
}

.leftNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding: 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.leftLinks li {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10px;
}

.headerNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.headerNav ul li {
  display: inline-block;
}

.headerNav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.leftLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
}

.rightLinks {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rightLinks li {
  padding: 10px;
}

.burgerLinks {
  padding: 200px;
}

/* ------JAVA MENU -------*/
#buttonMenu {
  visibility: visible;
  outline: none;
  border: none;
  z-index: 3;
}

.mobileMenu ul {
  display: none;
  visibility: visible;
}

.mobileMenu ul a:hover {
  text-decoration: line-through;
}

.menuPosition {
  padding-top: 15%;
  padding-bottom: 5%;
  text-align: center;
}

.mobileLogo {
  visibility: hidden;
  display: none;
}

.contactMenuPos {
  background-color: #f6f6f6;
  position: absolute;
  width: 100%;
  z-index: 2;
}

/* -----Contact HIDDEN MENU-------*/
/* =======================
FONT IMPORTS
======================= */
/* =======================
TYPOGRAPHY
======================= */
html {
  font-size: 125%;
  line-height: 1.15;
  font-size: "Open Sans", sans-serif;
  font-size: 0.875rem;
  letter-spacing: 0.019rem;
}

a {
  text-decoration: none;
  color: #333333;
}

.centeredLogo {
  font-family: "Montserrat", sans-serif;
  font-size: 2.313rem;
  letter-spacing: 0.056rem;
  font-weight: bold;
}

.headerNav,
.leftlinks li {
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
  letter-spacing: 0.019rem;
  color: #333333;
}

.rightLinks {
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: 0.019rem;
}

a:visited {
  text-decoration: none;
}
a:visited a, a:visited a:visited {
  color: #333333;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: 0.019rem;
}

button {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: 0.044rem;
}

h2,
h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
  line-height: 1.5rem;
  letter-spacing: 0.113rem;
  font-weight: normal;
}

p {
  font-size: "Open Sans", sans-serif;
  font-size: 0.875rem;
  letter-spacing: 0.019rem;
}

ul li {
  text-decoration: none;
  list-style-type: none;
}

footer h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
  letter-spacing: 0.019rem;
  text-transform: uppercase;
}

footer li {
  font-family: "Open Sans", sans-serif;
  font-size: 0.7rem;
  line-height: 1.5rem;
  letter-spacing: 0.019rem;
}

footer p {
  font-family: "Open Sans", sans-serif;
  font-size: 0.7rem;
  line-height: 1.5rem;
  letter-spacing: 0.019rem;
}

.recentPosts h2 {
  text-align: center;
}

.recentPosts ul li {
  list-style-type: disc;
}

.headline {
  list-style-type: none;
}

.emailSignup {
  text-align: right;
}

.footerLogo {
  text-align: center;
}

/* FOOTER */
.footerInfo {
  background: #333333;
  background-size: auto;
}

footer {
  color: #f6f6f6;
}

footer i {
  color: #f6f6f6;
}

.socialMediaIcons {
  padding-top: 10px;
  word-spacing: 20px;
  color: #f6f6f6;
}

.footerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10% 0;
}

footer h2 {
  padding-bottom: 30px;
}

.emailLine {
  padding-top: 20px;
  height: 20px 50px;
}

.footerLogo {
  border-top: 1px solid #f6f6f6;
}

.footerLogo h2 {
  padding-top: 5%;
}

.footerEmail {
  margin: 0;
}

.footerButton {
  margin: 0;
}

.emailSignup ul {
  padding-bottom: 10%;
}

/* Button */
.inputContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0;
  padding-left: 20px;
  background-color: white;
  border: none;
}

#footerEmail {
  width: 100%;
  height: 54px;
  background: none;
  border: 0;
  padding: 0;
  outline: none;
}

.footerButton {
  height: 54px;
  width: 94px;
  background-color: #C3DAB7;
  text-transform: uppercase;
  border-style: none;
  cursor: pointer;
  outline: none;
}

.footerButton i {
  color: #333333;
}

.footerButton:hover,
.footerButton i:hover {
  color: #f6f6f6;
}

.contactHiddenMenu {
  padding-top: 15%;
  padding-bottom: 5%;
  position: absolute;
  background-color: #f6f6f6;
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  z-index: 2;
}

#buttonMenu li a {
  visibility: visible;
  display: block;
  background-color: transparent;
}

.mobileMenu {
  display: block;
  visibility: visible;
}

.mobileLogo {
  visibility: hidden;
  display: none;
}

.contactBack {
  background-image: none;
}

.buttonTransparent {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  outline: none;
}

.wrapper {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
}

body {
  background-color: #f6f6f6;
}

li a {
  text-decoration: none;
}

html {
  font-size: 125%;
  line-height: 1.15;
  color: #333333;
}

i {
  color: black;
}

a:hover {
  cursor: pointer;
}

/* =======================
TYPOGRAPHY
======================= */
.brandSection {
  background-color: #C3DAB7;
  text-align: center;
}

.overlapContainer {
  position: relative;
  padding-top: 20%;
}

.overlapImg {
  width: 50%;
  height: auto;
}

.circleText {
  bottom: 25%;
  left: 15%;
  position: absolute;
  height: 50%;
  width: auto;
}

.brandDesign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-bottom: 15%;
}

.branding,
.design {
  width: 50%;
  padding: 20px;
}

/* =======================
Gallery
======================= */
.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 7rem;
  padding-bottom: 5rem;
}

.gallery a i {
  font-size: 1.5rem;
  color: #333333;
}

.gallery a i:hover {
  color: black;
}

.gallery img {
  border-radius: 360px;
}

.galleryText {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 75%;
  padding-bottom: 5rem;
}

/*              Features                  */
.iconGallery {
  background: url(../assets/home-4.jpeg) left;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
  margin: auto;
  padding: 0;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 90vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 30%;
  padding-top: 30px;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 48%;
  padding: 0px;
}

.featuresIcon i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: inline-block;
  color: #333333;
  border: 2px solid #333333;
  border-radius: 360px;
  padding: 12px;
}

.titleText h3 {
  color: #333333;
  text-transform: uppercase;
  padding-left: 30px;
}

.titleText p {
  color: grey;
  font-style: "Open Sans", sans-serif;
  font-size: 0.7rem;
  letter-spacing: 0.019rem;
  padding-left: 30px;
}

.teamPadding {
  position: relative;
  padding-top: 150px;
  padding-bottom: 150px;
}

.teamPadding::before {
  content: "";
  position: absolute;
  height: 1px;
  width: calc( 100px - 60px);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  background-color: rgba(51, 51, 51, 0.4);
  top: 20px;
  right: 50%;
  margin: 0 auto;
  padding: 0;
}

.teamPadding {
  position: relative;
}

.meetOurTeam p {
  border-left: 2px solid grey;
  height: 20px;
}

.meetOurTeam h2 {
  text-align: center;
  padding-bottom: 10%;
  text-transform: uppercase;
}

/* GRID GALLERY - Grid Layout Assembled Using https://grid.layoutit.com/ */
.galleryImg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.teamGallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px 30px;
  grid-template-areas: "img1 img1 img2 img3" "img4 img5 img6 img7";
}

.img1 {
  grid-area: img1;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
}

.img2 {
  grid-area: img2;
}

.img3 {
  grid-area: img3;
}

.img4 {
  grid-area: img4;
}

.img5 {
  grid-area: img5;
}

.img6 {
  grid-area: img6;
}

.img7 {
  grid-area: img7;
}

.img1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  text-align: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: lightgray;
  padding: 5% 5% 5% 10%;
}

.img1 p {
  color: grey;
}

.img7 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

/* DROP US A LINE */
.dropLine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portButton {
  width: 30%;
  background-color: #f6f6f6;
  border: none;
  padding: 2% 1%;
}

.portButton a {
  font-weight: bold;
  text-transform: uppercase;
  background-color: #f6f6f6;
}

.dropLineImage img {
  width: 100%;
  height: 100%;
}

.dropLineText {
  text-align: center;
  background: #C3DAB7 center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dropLineText h2,
.dropLine p {
  padding: 0 10% 5%;
}

.dropLineText button {
  margin: 0 auto;
}

.col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 50%;
}

/*=====================
Blog Styles
======================*/
.agencySec h1 {
  text-align: center;
  padding: 0;
  text-transform: uppercase;
  font-weight: bold;
}

.agencySec h6 {
  color: rgba(185, 175, 175, 0.4);
  padding-bottom: 60px;
}

.agencySec span {
  color: #333333;
  padding-bottom: 60px;
}

.alexAdmin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.rightMenu h6 {
  color: rgba(54, 48, 48, 0.4);
}

.lite p {
  color: rgba(54, 48, 48, 0.4);
}

.alexAdmin li img {
  border-radius: 360px;
}

.alexAdmin li {
  padding-right: 20px;
}

.alexAdmin h6 {
  color: rgba(54, 48, 48, 0.4);
}

.adminRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid #f6f6f6;
  padding-bottom: 10px;
}

.adminRow ul {
  margin: 0;
  padding: 0;
}

.adminRow ul li {
  display: inline-block;
}

.rightMenu {
  padding-left: 70px;
}

.analyticsP {
  padding-top: 40px;
}

.analyticsP p span {
  font-weight: bold;
}

.analyticsP p {
  padding-bottom: 10px;
}

.socialIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
}

.socialIcons i {
  padding-right: 15px;
  padding-left: 15px;
}

.leaveComment h2 {
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 1px solid lightslategray;
  width: 100%;
  padding-bottom: 10px;
}

.leaveComment {
  padding: 60px 0px 30px 0;
}

/* RELATED POST */
.relatedPost {
  padding-top: 60px;
  padding-bottom: 30px;
}

.relatedPost h2 {
  text-transform: uppercase;
  border-bottom: 2px solid #f6f6f6;
  padding-bottom: 10px;
}

.postGallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 40px;
  width: 100%;
}

.postGallery img,
.postGallery p {
  padding: 0 10px;
  width: 100%;
}

.comments h2 {
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 30px;
  border: none;
  border-bottom: 2px solid lightgrey;
}

.comment-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 30px;
  padding-top: 5%;
}

.comment-1 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #f6f6f6;
  width: 100%;
}

.comment-1 ul h5,
.comment-2 ul h5 {
  text-transform: uppercase;
}

.comment-1 ul h5 span,
.comment-2 ul h5 span {
  font-style: italic;
  text-transform: none;
  font-weight: 400;
}

.comment-1 ul p,
.comment-2 ul p {
  color: rgba(54, 48, 48, 0.4);
}

.comment-1 ul h6,
.comment-2 ul h6 {
  color: rgba(54, 48, 48, 0.4);
  font-weight: 200;
}

.comment-1 img {
  padding-right: 40px;
  height: 90%;
}

.comment-2 img {
  padding-right: 40px;
  height: 90%;
}

.comment-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 30px;
}

.comment-2 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #f6f6f6;
  width: 100%;
}

/* CONTACT US PAGE */
.quarterImg {
  background: url(../assets/contact-1.jpeg);
  background-size: cover;
  height: 30vh;
  overflow: hidden;
}

.quarterImg {
  position: relative;
}

.contactUsText {
  position: absolute;
  top: 41%;
  left: 12%;
  width: 0%;
  padding-bottom: 10%;
  text-transform: uppercase;
  font-weight: bold;
}

.contSect {
  padding-bottom: 120px;
  padding-top: 3%;
}

/* Contact Details Section*/
.detailsText h2 {
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 30px;
}

.detailsText p {
  padding-bottom: 40px;
  width: 55%;
  color: rgba(51, 51, 51, 0.4);
}

.contactIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 60px;
}

.iconRow {
  font-size: 55px;
  padding: 30px;
}

.iconRow ul li i {
  padding-bottom: 20px;
}

.iconRow li h2 {
  text-transform: uppercase;
  font-weight: bold;
}

.iconRow p {
  color: rgba(51, 45, 45, 0.4);
}

.sideBorder {
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  padding: 0 70px;
  height: 100%;
}

/* GET IN TOUCH SECTION */
.getInTouch h2 {
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 20px;
}

.getInTouch p {
  padding-bottom: 20px;
  color: rgba(54, 48, 48, 0.4);
}

/* GET IN TOUCH FORMS */
input[type=text],
input[type=email] {
  width: calc(33.3% - 40px);
  padding: 20px 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  border-bottom: 2px solid lightgrey;
  background-color: #f6f6f6;
}

input[name=message] {
  width: 100%;
  height: 200px;
  padding: 0px;
  margin: 0;
  border-bottom: 2px solid lightgrey;
  background-color: #f6f6f6;
}

input[name=message]:hover,
input[type=text]:hover,
input[type=email]:hover {
  border-bottom: 1px solid black;
}

*:focus {
  outline: none;
}

.formButton {
  padding: 10px 0;
  margin: 0;
  border: none;
  border-bottom: 2px solid black;
  text-transform: uppercase;
  font-weight: bold;
  background: none;
}

.formButton:hover {
  background-color: lightgray;
}

.contactImage-2 img {
  min-height: auto;
  max-width: 100%;
  display: block;
}

.contactImage-2 {
  margin: 0;
  padding: 0px;
}

.contactForms {
  padding-bottom: 90px;
}

.burger {
  visibility: hidden;
}

/* =================
HOME MEDIA QUERIES
===================*/
/* Extra small devices (phones, 450px and down) */
@media only screen and (max-width: 450px) {
  body {
    width: 100%;
  }

  .wrapper {
    max-width: 95%;
  }

  .headerNavBlog {
    visibility: hidden;
  }

  .burger i {
    visibility: visible;
    font-size: 300%;
    padding-bottom: 15%;
  }

  .burger a {
    visibility: visible;
    font-size: 2rem;
    font-weight: bold;
  }

  .burger {
    display: inline;
    visibility: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 25%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }

  /* =========================*/
  p {
    font-size: 0.5rem;
  }

  h3 {
    font-size: 0.75rem;
  }

  .mobileLogo {
    visibility: visible;
    display: block;
    text-align: center;
    padding-top: 60%;
  }

  .iconGallery {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .featuresIcon {
    visibility: hidden;
  }

  .iconGallery .container {
    padding: 0;
    text-align: left;
    width: 100%;
  }

  .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    padding: 0;
    margin: 0;
    width: 50%;
  }

  .titleText p,
.titleText h3 {
    margin: 0;
    padding: 0;
  }

  .dropLine {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .dropLine button {
    width: 50%;
  }

  .dropLineText {
    padding-bottom: 5%;
  }

  .dropLineText,
.dropLineImage {
    width: 100%;
  }

  /* Footer */
  .footerContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 100%;
  }

  .footerContainer h2 {
    text-align: center;
  }

  .recentPosts {
    padding-top: 5%;
  }

  .emailSignup {
    padding-top: 5%;
  }

  .emailSignup li {
    text-align: left;
  }
}
/* =================
MEDA QUERIES 880px
===================*/
@media (max-width: 880px) {
  .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    padding: 0;
    margin: 0;
    width: 50%;
  }

  .titleText p,
.titleText h3 {
    margin: 0;
    padding: 0;
  }

  iconGallery {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .iconGallery .container {
    padding: 0;
    text-align: left;
    width: 100%;
  }
}
/* =================
MEDA QUERIES 930px
===================*/
@media (max-width: 930px) {
  .wrapper {
    width: 90%;
  }

  .headerNavBlog {
    visibility: hidden;
  }

  .burger i {
    visibility: visible;
    font-size: 300%;
    padding-bottom: 5%;
  }

  .burger a {
    visibility: visible;
    font-size: 2rem;
    font-weight: bold;
  }

  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 15%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }

  /* =========================*/
  p {
    font-size: 0.5rem;
  }

  h3 {
    font-size: 0.75rem;
  }

  .iconGallery {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .featuresIcon {
    visibility: hidden;
  }

  .iconGallery .container {
    padding: 0;
    text-align: left;
    width: 100%;
  }

  .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    padding: 0;
    margin: 0;
  }

  .titleText p,
.titleText h3 {
    margin: 0;
    padding: 0;
  }

  .dropLine {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .dropLineText {
    padding-top: 5%;
  }

  .dropLine button {
    width: 50%;
  }

  .dropLineText {
    padding-bottom: 5%;
  }

  .dropLineText,
.dropLineImage {
    width: 100%;
  }

  .footerContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footerContainer h2 {
    text-align: center;
  }

  .recentPosts {
    padding-top: 5%;
  }

  .emailSignup {
    padding-top: 5%;
  }

  .emailSignup li {
    text-align: left;
  }

  .contactUs,
.recentPosts,
.emailSignup {
    margin: 0 auto;
  }

  .contactUs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
  }

  .contactUs ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    text-align: center;
  }

  .socialMediaIcons {
    text-align: center;
  }
}
/* =================
MEDIA QUERIES BLOG
===================*/
/* =================
MEDIA QUERIES BLOG
===================*/
/* Extra small devices (phones, 450px and down) */
@media only screen and (max-width: 450px) {
  body {
    width: 100%;
  }

  .wrapper {
    max-width: 95%;
  }

  .burger {
    visibility: visible;
  }

  header {
    height: 100vh;
    margin: 0;
    padding: 0;
  }

  /*===============*/
  .blogBack {
    position: relative;
    background: url(../assets/blog-1.jpeg);
    height: 100vh;
    background-size: cover;
  }

  .postGallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .inputField {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  #nameForm,
#emailForm,
#subjectForm {
    width: 100%;
  }

  .alexAdmin {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .alexAdmin ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .alexAdmin li {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 50px;
  }

  .rightMenu {
    padding-left: 50px;
  }
}
/* =================
MEDA QUERIES 930px
===================*/
@media (max-width: 930px) {
  .burger {
    padding-top: 0;
  }
}
/* =================
MEDA QUERIES 880px
===================*/
@media (max-width: 880px) {
  .inputField {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  #nameForm,
#emailForm,
#subjectForm {
    width: 100%;
  }
}
/* =================
MEDIA QUERIES CONTAT
===================*/
/* Extra small devices (phones, 450px and down) */
@media only screen and (max-width: 450px) {
  body {
    width: 100%;
  }

  .wrapper {
    max-width: 95%;
  }

  .burger {
    visibility: visible;
  }

  .burger i {
    padding-top: 5%;
    display: block;
  }

  header {
    height: 100vh;
    margin: 0;
    padding: 0;
  }

  /*===============*/
  .contactBack {
    background: url(../assets/contact-1.jpeg);
    background-size: auto;
    background-size: cover;
    height: 15vh;
    overflow: hidden;
  }

  .contSect {
    padding-bottom: 60px;
  }

  .contactUsText {
    padding: 0;
    padding-top: 5%;
    margin: 0;
    position: relative;
    top: 0%;
    left: 0%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .quarterImg {
    margin: 0;
    padding: 0;
  }

  .quarterImg {
    position: absolute;
    visibility: hidden;
    height: 0px;
  }

  .contactIcons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .iconRow ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .iconRow ul li {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .iconRow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    text-align: center;
  }

  .detailsText {
    text-align: center;
    padding: 0;
    margin: 0 auto;
  }

  .detailsText p {
    width: 100%;
  }
}
@media only screen and (max-width: 930px) {
  .burger {
    padding: 0;
    margin: 0;
    height: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 10%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}
@media only screen and (max-width: 750px) {
  .contactIcons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .iconRow ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .iconRow ul li {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .iconRow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    text-align: center;
  }

  .detailsText {
    text-align: center;
    padding: 0;
    margin: 0 auto;
  }

  .detailsText p {
    width: 100%;
  }
}